[Environment]
context_loading = False

[Cells]
max_trajectories = 500000
max_trajectory_size = 480
cell_selection = Random
cell_selection_lambda = 0.0
explore_steps = 100

[Rewards]
lambda = 0
epsilon = 0.01
no_reward = False
behavior_target = Optimize
behavior_reward = Regression
arousal_target = Human
arousal_reward = Regression

[Human Model]
kNN = 5
