[Environment]
context_loading = True

[Cells]
max_trajectories = 500000
max_trajectory_size = 560
cell_selection = Random
cell_selection_lambda = 0.0
explore_steps = 25

[Rewards]
lambda = 0
epsilon = 0.01
no_reward = False
behavior_target = Optimize
behavior_reward = Maximize
normalize_behavior = False
arousal_target = Optimize
arousal_reward = Maximize

[Human Model]
kNN = 5
