player-connection-mode=Listen
player-connection-guid=3091851895
player-connection-debug=0
player-connection-project-name=SolidRallyPCG
player-connection-ip=10.60.19.41
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=bc6b526c6ba34897a9197520e32a1748
